<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanjavaid.valore.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Unindra" >
        <activity
            android:name="com.fanjavaid.valore.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fanjavaid.valore.app.MenuNilaiActivity"
            android:label="@string/title_activity_menu_nilai" >
        </activity>
        <activity
            android:name="com.fanjavaid.valore.app.MataKuliahActivity"
            android:label="@string/title_activity_mata_kuliah"
            android:parentActivityName="com.fanjavaid.valore.app.MenuNilaiActivity" >
        </activity>
        <activity
            android:name="com.fanjavaid.valore.app.SemesterActivity"
            android:label="@string/title_activity_semester"
            android:parentActivityName=".MenuNilaiActivity">
        </activity>
    </application>

</manifest>
